<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GURU_Android_team30"
        tools:targetApi="31">

        <!-- 로그인 페이지 -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <!-- 회원가입 페이지 -->
        <activity
            android:name=".SignupActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value=" "/>
        </activity>

        <!-- 회원가입 완료 페이지 -->
        <activity
            android:name=".Signup_CompleteActivity"
            android:exported="true">

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <!-- 메인화면 페이지 -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <!--검색 페이지-->
        <activity
            android:name=".Search"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <!--리뷰조회 페이지-->
        <activity
            android:name=".ReviewPageDetail"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <!--리뷰작성 페이지-->
        <activity
            android:name=".ReviewWrite"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <!--감상문작성 페이지-->
        <activity
            android:name=".Writepage"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>